/ShapesClass/build/
/NotesCombination/nbproject/private/
/NotesCombination/build/
/DepartmentalStore/nbproject/private/
/DepartmentalStore/build/
/GlobalPositionSatellite/nbproject/private/
/GlobalPositionSatellite/build/
/InterfaceTest/nbproject/private/
/InterfaceTest/build/
/Bank/nbproject/private/
/Bank/build/
/PredicateTest/nbproject/private/
/PredicateTest/build/
/Messaging/nbproject/private/
/Messaging/build/
/ExceptionTest/nbproject/private/
/ExceptionTest/build/
/AverageN/nbproject/private/
/AverageN/build/
/MonthFormatting/nbproject/private/
/DateAndTimeExamples/nbproject/private/
/DateAndTimeExamples/build/
/DateAndTimeExamples/dist/
/EnumExamples/nbproject/private/
/EnumExamples/build/
/MathematicalFormula/nbproject/private/
/MathematicalFormula/build/
/HateLoveProgram/build/
/HateLoveProgram/nbproject/private/
