/Maven Projects/LibrarySystem/target/
/Maven Projects/JUnit5_mecer/target/
/Maven Projects/JUnit5_mecer/nbproject/
/Maven Projects/LibrarySystem/nbproject/
/Java Ant Projects/Java_Enterprise_Project/MecerWeb/nbproject/private/
/Java Ant Projects/Java_Enterprise_Project/MecerWeb/build/
/Java Ant Projects/Java_Enterprise_Project/MecerWeb/dist/
/Java Ant Projects/Java_Enterprise_Project/Greetings/nbproject/private/
/Java Ant Projects/Java_Enterprise_Project/Greetings/build/
/Java Ant Projects/Java_Enterprise_Project/Greetings/dist/
/Java Ant Projects/Java_Enterprise_Project/MecerTest/nbproject/private/
/Java Ant Projects/Java_Enterprise_Project/MecerTest/build/
/Java Ant Projects/Java_Enterprise_Project/HttpMecerTest/nbproject/private/
/Java Ant Projects/Java_Enterprise_Project/HttpMecerTest/build/
/Java Ant Projects/Java_Enterprise_Project/FirstController/nbproject/private/
/Java Ant Projects/Java_Enterprise_Project/FirstController/build/
